.header {
    background-color: #004d40;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-background {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 80%;
    max-width: 1000px;
}

.login-card {
    display: flex;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.card-content {
    display: flex;
    width: 100%;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-image img {
    width: 100%;
    height: auto;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-center {
    text-align: center;
}

.title-line {
    width: 100%;
    border: none;
    height: 2px;
    background-color: red;
    margin: 10px 0;
}

.custom-input {
    width: 120%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.custom-button {
    width: 80%;
    font-size: 16px;
    padding: 5px;
}

mat-icon {
    color: #0072ff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center form elements */
}

.bottom-footer {
    background-color: #004d40;
    color: white;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-section {
    width: 30%;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section address {
    font-size: 14px;
    line-height: 1.8;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: white;
    font-size: 18px;
}

.social-icons a:hover {
    color: #80cbc4;
}


/* Media Queries for Mobile Responsiveness */

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}