.stocks {
    display: flex;
    height: 100vh;
    border-radius: 30px;
    background-color: #f7f8fc;
}

.sidebar {
    width: 200px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.navigation .nav-item {
    margin-top: 10px;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
}

.navigation {
    margin-top: 150px;
    background-color: #333;
}

.sidebar a:hover {
    background-color: #ffffff;
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
}

.nav-section {
    font-size: 14px;
    color: #888;
    margin-top: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 300px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.stocks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.mat-card {
    padding: 40px;
}

.mat-cell {
    padding: 20px 40px 20px 40px;
}

.mat-header-cell {
    padding: 20px 40px 20px 40px;
}


/* stocks.component.scss */

.profit {
    color: green;
}

.loss {
    color: red;
}