<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page Layout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <img src="assets/logo.jpg" alt="logo" class="logo">
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#About">About</a>
                    </li>
                    <li>
                        <a href="#features">Features</a>
                    </li>
                    <li>
                        <a href="#Team">Team</a>
                    </li>
                    <li>
                        <a href="#Location">Location</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="banner" id="banner">
            <section class="banner">
                <div class="banner-content">
                    <div class="banner-text" [@boxAnimationLeft]>
                        <h1>Easily Monitor</h1>
                        <br>
                        <h1>your stocks</h1>
                        <br>
                        <h1>on Visionary Vault</h1>
                        <br>
                        <br>
                        <a style="background-color: rgb(0, 0, 0); color:white; padding:15px; border-radius: 30px; width:30%; text-decoration:none;" routerLink="/login/login">Login</a> &nbsp;&nbsp;
                        <a style="background-color: rgb(0, 0, 0); color:white; padding:15px; border-radius: 30px; width:30%; text-decoration:none;" routerLink="/signup/register">Signup</a>
                    </div>
                    <div class="banner-image" [@boxAnimationRight]>
                        <img src="assets/main.jpg" alt="Dragon">
                    </div>
                </div>
            </section>

        </section>

        <section class="About" id="About">
            <h2>About Us</h2>
            <hr style="width: 50px;  margin-bottom: 40px;  border: 1px solid red;">
            <div class="product-details" [@boxAnimationLeft]>
                <img src="assets/a1.jpg" alt="About-Image">
                <div class="product-info">
                    <h3>Visionary Vault</h3>
                    <p>Welcome to Visionary Vault, </p>
                    <p>where your financial dreams take flight! We're more than just a portfolio management platform—we're your trusted partner in navigating the dynamic world of investments. Our mission is to empower you with the tools and insights you
                        need to make informed decisions, optimize your portfolio, and achieve your financial goals.</p>
                    <a href="#" class="see-more">See More</a>
                </div>
            </div>
        </section>

        <section class="features" id="features">
            <h2 style="font-size: 36px; margin-top: 60px; text-align:center;">Features</h2>
            <hr style="width: 50px;  margin-bottom: 40px;  border: 1px solid red;">
            <div class="feature-content">
                <div class="feature-row">
                    <div class="single-feature" [@boxAnimationLeft]>
                        <i class="fa fa-leaf feature-icon"></i>
                        <h4 class="feat-title">Your Investments</h4>
                        <p>Easy monitoring of Your portfolio</p>
                    </div>
                    <div class="single-feature" [@boxAnimationRight]>
                        <i class="fa fa-mobile feature-icon"></i>
                        <h4 class="feat-title">Stock Predictions</h4>
                        <p>Stock Research and advice for better returns</p>
                    </div>
                    <div class="single-feature" [@boxAnimationLeft]>
                        <i class="fa fa-thumbs-o-up feature-icon"></i>
                        <h4 class="feat-title">Great Features</h4>
                        <p>There are many variations of passages of Lorem Ipsum available...</p>
                    </div>
                </div>
                <div class="feature-row">
                    <div class="single-feature" [@boxAnimationRight]>
                        <i class="fa fa-gears feature-icon"></i>
                        <h4 class="feat-title">Multiple Options</h4>
                        <p>There are many variations of passages of Lorem Ipsum available...</p>
                    </div>
                    <div class="single-feature" [@boxAnimationLeft]>
                        <i class="fa fa-code feature-icon"></i>
                        <h4 class="feat-title">Quality Code</h4>
                        <p>There are many variations of passages of Lorem Ipsum available...</p>
                    </div>
                    <div class="single-feature" [@boxAnimationRight]>
                        <i class="fa fa-smile-o feature-icon"></i>
                        <h4 class="feat-title">Awesome Support</h4>
                        <p>There are many variations of passages of Lorem Ipsum available...</p>
                    </div>
                </div>
                <br>
                <BR>
                <br>
                <BR>
            </div>
        </section>

        <section class="About" id="Team">

            <h2>Team</h2>
            <hr style="width: 50px;  margin-bottom: 40px;  border: 1px solid red;">
            <div class="product-details" [@boxAnimationRight]>
                <img style="width: 350px; height:440px" src="assets/m1.png" alt="Member1">
                <div class="product-info">
                    <h3>Shashidhar Rajaram</h3>
                    <p>Aspiring B.Tech student with a passion for Artificial intelligence (AI). Eager to learn, innovate, and contribute to the ever-evolving tech landscape. Seeking internships, projects, and connections to fuel my journey in technology.
                        Let's connect and explore the future of tech together !</p>
                    <br>
                    <a href="https://github.com/In-Shashidhar-R" target="_blank">
                        <img style="width: 30px; height:30px" src="assets/Github.png">
                    </a>&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/shashidhar-rajaram-065582268/" target="_blank">
                        <img style="width: 30px; height:30px" src="assets/lLinkedin.png">
                    </a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/_.sign._in/" target="_blank">
                        <img style="width: 30px; height:30px" src="assets/instagram.png">
                    </a>

                </div>
            </div>
        </section>

        <section class="Team" id="Location" [@welcomeMessage]>
            <h2>Location</h2>
            <p>Contact Number: +91 6369794449 | Tele-phone Number: 04435533222</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.414903639034!2d80.02368187477173!3d13.261992708445742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52814946112d6f%3A0x57a644f6f25f9b0c!2sAmrita%20Vishwa%20Vidyapeetham%2C%20Chennai!5e0!3m2!1sen!2sin!4v1722323244297!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Visionary Vault. All rights reserved.</p>
    </footer>
</body>

</html>